// Welcome Page CSS //

// Some CSS Rules for All Page //

body {
  color: $dark-gray;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


// Start Welcome Page CSS //

