// Specific CSS for your home-page

body {
  color: $dark-gray;
}

.row {
  width: 100%;
}

.home-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-index-upper-wrapper {
  height: 240px;
  display: flex;
  justify-content: center;
}

.home-index-box {
  width: 100%;
  background-color: rgba(65,173,73,0.3);
  height: 100%;
  display: flex;
  justify-content: center;
}

.home-index-title {
  display: flex;
  align-items: center;
  height: 160px;
  color: white;
  i {
    font-size: 23px;
  }
}

.home-index-search-bar {
    select {
    border: none;
    border-radius: 2px;
    height: 27px;
    -webkit-appearance: none;
    width: 72px;
    padding-left: 4px;
    }
    input {
    width: 120px;
    height: 40px;
    border-radius: 2px;
    border: none;
    }
}

.home-index-search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  input {
    opacity: 0.8;
    border-radius: 2px;
    border-style: none;
  }
  button {
    opacity: 0.9;
    height: 40px;
    width: 80px;
    border-radius: 2px;
    border-style: none;
    color: $mint;
    background-color: $dark-gray;
    font-family: $geo;
    font-size: 24px;
    &:hover {
    opacity: 1.0;
    }
  }
}

.home-index-middle-wrapper {
  height: 540px;
  width: 100%;
}

.home-index-map {
  height: 100%;
  width:100%;
  margin: 0 auto;
}

// Mapbox:

#map {
  border-radius: 2px 2px 0 0;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.7);
}

.mapbox-pitch-marker {
  background-image: asset-url('football_pitch.png');
  color: black;
  background-size: cover;
  width: 34px;
  height: 48px;
  cursor: pointer;
}

.mapbox-central-marker {
  background-image: asset-url('goal.png');
  color: black;
  background-size: cover;
  width: 50px;
  cursor: pointer;
}

.mapbox-friends-marker {
  background-image: asset-url('pitch.png');
  color: black;
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.home-index-lower-wrapper {
  height: 300px;
}


footer {
  background-color: $dark-gray;
  color: $mint;
  height: 96px;
  padding: 16px;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  i {
  color: $mint;
  margin: 0 10px 10px 10px;
  font-size: 24px;
  &:hover {
    color: $inter-green;
    }
  }
}
