// All Pitches Model CSS Files //



// -=-=-= Pitches Index =-=-=- //

.pitches-index-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .row {
    width: 100%;
  }
}

.pitches-index-box {
  width: 100%;
  background-color: rgba(65,173,73,0.3);
  height: 100%;
  display: flex;
  justify-content: center;
}

.pitches-index-upper-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
}

.pitches-index-upper-box {
  width: 100%;
}

.pitches-index-title {
  display: flex;
  align-items: center;
  height: 120px;
  color: white;
  h2 {
    font-family: $geo;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
    font-size: 48px;
  }
}


.pitches-index-search-bar {
    #max_dist, #category_id {
    background-color: white;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 100% !important;
    margin-bottom: 24px;
    -webkit-appearance: none;
    width: 100%;
    padding-left: 4px;
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.7);
    }
    input {
    height: 40px;
    box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.7);
    border-radius: 2px;
    border: none;
    }
    .search-pitch {
    width: 100%;
      @media (max-width: 1000px) {
    margin-bottom: 24px;
    }
  }
}

.submit-tag-btn {
  width: 90%;
  min-width: 100px;
  margin-left: 10%;
  background-color: rgba(250,250,250,0.8);
  &:hover {
    background-color: rgba(250,250,250,1.0);
  }
}

.pitches-index-middle-wrapper {
  height: 540px;
  width: 100%;
  @media (max-width: 800px) {
  height: 720px;
  }
}

.pitches-index-map {
  height: 100%;
  width:100%;
  margin: 0 auto;
    @media (max-width: 1000px) {
    margin-top: 72px;
  }
}

// Mapbox:

.algolia-places-nostyle {
  display: initial !important;
  .ap-nostyle-dropdown-menu {
  border-radius: 2px;
  border: 1px solid lightgray;
  background-color: white;
  min-width: 100%;
  }
}

.ap-nostyle-input-icon {
  display: none;
}

.ap-nostyle-suggestion {
  margin: 4px;
}

.ap-suggestion-icon {
  margin-left: 4px;
}

.submit-tag-btn {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7) !important;
}

#map {
  border-radius: 2px 2px 0 0;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.7);
  @media (max-width: 800px) {
  height: 300px;
  }
}

.mapbox-pitch-marker {
  background-image: asset-url('fut-field.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.mapbox-central-marker {
  background-image: asset-url('pin.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mapbox-friends-marker {
  background-image: asset-url('friend.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mapboxgl-popup-content {
  border: solid 1px lightgray;
  img {
    border: 1px solid lightgray;
    min-height: 120px;
    min-width: 120px;
    background-image: asset-url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    objetc-fit: contain;
  }
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.pitches-index-lower-wrapper {
  height: 10px;
}

// -=-=-= End Pitches Index =-=-=- //

// ------------------------------ //

// -=-=-= Pitches Show =-=-=- //

.pitches-show-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}


.pitches-show-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.pitches-upper-wrapper {
  margin-top: 48px;
  margin-bottom: 48px;
}

.pitches-show-white-card {
  background-color: rgba(20,20,20,0.65);
  border-radius: 2px;
  padding: 14px;
  min-height: 640px;
  max-height: auto;
  overflow: hidden;
}

.pitches-left-seccion {
  height: 85vh;
}

.pitches-left-photo-wrap {
  position: relative;
  text-align: center;
  margin: 32px auto 0 auto;
  height: 320px;
  width: 480px;
  border-radius: 2px;
  background-color: rgba(100,100,100,0.1);
  img {
  position: bottom;
  justify-content: center;
  border-radius: 1px;
  max-height: 320px;
  width: 480px;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  }
  p {
  position: absolute;
  font-family: ubuntu;
  color: white;
  right: 16px;
  bottom: 8px;
  font-size: 32px;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
  }
}

.pitches-left-info-wrap {
  margin: 16px;
  padding-left: 16px;
  p {
    font-size: 16px;
  }
}

.pitches-left-info-title {
  display: flex;
  justify-content: space-between;
  h3 {
    font-family: $geo;
    font-size: 48px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    margin-top: 0;
    color: $heavy-green;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
  }
}

.datepicker {
  border-radius: 2px;
  border-style: none;
  width: 160px;
  height: 40px;
  background-color: white;
}


.pitches-left-info-wrap-editdelete {
  display: flex;
  p {
    margin-bottom: 16px;
  }
  a {
    color: white;
  }
}

.pitches-left-info-wrap-description {
  overflow: scroll;
  height: 160px;
  border-radius: 2px;
  font-size: 16px;
  font-family: ubuntu;
  font-weight: lighter;
  color: white;
  background-color: rgba(100,100,100,0.3);
}

.pitches-right-seccion {
  text-align: center;
  height: 85vh;
  h5 {
    margin: 0;
    font-family: $geo;
    font-size: 32px;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
  }
}

.pitches-show-schedule {
  max-height: 540px;
  max-width: 400px;
  overflow: scroll;
  text-align: center;
  margin: 8px auto 8px auto;
}

.pitches-show-schedule-search {
  display: flex;
  justify-content: center;
  margin-top: -8px;
}

.pitches-show-search-field {

}

.pitches-show-schedule-button {

}

.pitches-show-schedule-button {
  background-color: rgba(140, 197, 154,0.8);
  box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, 0.4);
  font-family: ubuntu;
  font-weight: lighter;
  color: white;
  font-size: 24px;
  border-radius: 2px;
  width: 320px;
  height: 48px;
  margin: 8px auto 0 auto;
  padding-top: 12px;
  line-height: 1;
  a {
    margin-left: 40px;
    font-size: 16px;
    color: white;
  }
  &:hover {
  background-color: rgb(140, 197, 154);
  box-shadow: -2px 0 $heavy-green, 0 2px $heavy-green, 2px 0 $heavy-green, 0 -2px $inter-green;
    a {
    font-size: 18px;
    }
  }
}

#false {
  background-color: rgb(170,170,170);
  &:hover {
  box-shadow: -2px 0 $dark-gray, 0 2px $dark-gray, 2px 0 $dark-gray, 0 -2px $dark-gray;
  }
  p {
  color: rgb(110,110,110);
  }
}


// -=-=-= End Pitches Show =-=-=- //

// ------------------------------ //

// -=-=-= Begin Pitches New =-=-=- //

.pitches-new-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.pitches-new-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.pitches-new-title {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
    color: white;
    font-size: 56px;
  }
}

.pitches-new-middle-wrapper {
}

.pitches-new-form-left {
  padding: 32px;
  input {
  border-style: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  select {
    border-style: none;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
}

.pitches-new-form-right {
  padding: 32px;
  input {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.pitches-new-photo-input {
  background-color: none;
  input {
    box-shadow: none;
    width: 400px;
    background-color: transparent;
  }
  #pitch_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.pitches-new-submit-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

select#pitch_category_id {
  padding-top: 0;
  background-color: rgba(250,250,250,0.4);
  color: $mint;
  option {
    color: black;
  }
}


// -=-=-= End Pitches New =-=-=- //

// ------------------------------ //

// -=-=-= Begin Pitches Edit =-=-=- //

.pitches-edit-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.pitches-edit-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.pitches-edit-title {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black;
    color: white;
    font-size: 56px;
  }
}

.pitches-edit-middle-wrapper {
}

.pitches-edit-form-left {
  padding: 32px;
  input {
  border-style: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  select {
    border-style: none;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
}

.pitches-edit-form-right {
  padding: 32px;
  input {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(250, 250, 250, 0.4);
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
}

.pitches-edit-photo-input {
  background-color: none;
  input {
    box-shadow: none;
    width: 400px;
    background-color: transparent;
  }
  #pitch_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.pitches-edit-submit-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 24px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}


select#pitch_category_id {
  padding-top: 0;
  background-color: rgba(250,250,250,0.4);
  color: $mint;
  option {
    color: black;
  }
}

.pitches-edit-lower-wrapper {
  margin-bottom: 72px;
}


// -=-=-= End Pitches Edit =-=-=- //

// ------------------------------ //

// -=-=-=                  =-=-=- //


