// All Users Model CSS Files //


// -=-=-= Users Sign Up =-=-=- //

.users-signup-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-signup-already-login-button {
  a {
  color: $heavy-green;
  }
}

  // This box is just for the background img filter!
.users-signup-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-signup-upper-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-signup-middle-wrapper {

}

.users-signup-form-left {
  padding: 32px;
  input {
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-signup-form-right {
  padding: 32px;
  input {
  margin-top: 8px;
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-signup-photo-input {
  background-color: none;
  input {
    width: 400px;
    background-color: transparent;
  }
  #user_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.users-signup-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Sign Up =-=-=- //

// --------------------------------//

// -=-=-= Users Sign In =-=-=- //

.users-signin-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-signin-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-signin-title {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-signin-middle-wrapper {
  width: 100%;
}

.users-signin-form {
  input {
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  }
  .form-check-label {
  margin-left: 8px;
  font-size: 16px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-signin-signforgot-buttons {
  a {
  color: white;
  font-weight: lighter;
  }
}

.users-signin-submit-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Sign In =-=-=- //

// --------------------------------//

// -=-=-= Users Edit =-=-=- //


.users-edit-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-edit-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-edit-title {
  display: flex;
  margin-bottom: 48px;
  justify-content: flex-start;
  height: 80px;
  min-width: 400px;
  position: relative;
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
  p, a {
    color: white;
    position: absolute;
    font-family: $geo;
    top: 48px;
    left: 2px;
  }
}

.users-edit-form-left {
  padding: 32px;
  input {
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-edit-form-right {
  padding: 32px;
  input {
  margin-top: 8px;
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-edit-photo-input {
  background-color: none;
  input {
    width: 400px;
    background-color: transparent;
  }
  #user_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.users-edit-update-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

.users-edit-cancel {
  a {
    color: white;
    font-size: 16px;
    padding-bottom: 16px;
  }
}

// -=-=-= End Users Edit =-=-=- //

// --------------------------------//

// -=-=-= Users Forgot Password =-=-=- //

.users-forgotpass-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-forgotpass-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-forgotpass-title {
  display: flex;
  margin-bottom: 72px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-forgotpass-middle-wrapper {
  width: 100%;
}

.users-forgotpass-form {
  input {
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  }
  .form-check-label {
  margin-left: 8px;
  font-size: 16px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 28px;
  }
}

.users-forgotpass-signforgot-buttons {
  a {
  color: white;
  font-weight: lighter;
  }
}


.users-forgotpass-submit-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 30px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Forgot Password =-=-=- //

// --------------------------------//

// -=-=-= Users Show =-=-=- //


.users-show-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-show-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-show-title {
  color: white;
  h2 {
  font-family: $geo;
  font-size: 48px;
  }
}

// .users-show-info-white-card {
//   background-color: rgba(250,250,250,0.9);
//   border-radius: 2px;
//   padding: 10px;
// }

// .users-show-info-white-card-title {
//   margin: 0 40px 0 40px;
//   display: flex;
//   justify-content:;
//   h2 {
//     font-family: $geo;
//     font-size: 54px;
//     color: $heavy-green;
//   }
// }

// .users-show-info-wrapper {
//   display: flex;
//   i {
//     font-size: 16px;
//     color: $heavy-green;
//   }
//   p{
//     font-size: 14px;
//   }
// }

// .users-show-info-photo {
//   margin-bottom: 8px;
//   img {
//   height: 80px;
//   width: 80px;
//   border-radius: 2px;
//   }
// }

// .users-show-info-bookings {
//   background-color: gray;
//   height: 200px;

// }

.users-show-pitch-white-card {
  background-color: rgba(250,250,250,0.9);
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 2px;
  padding: 10px;
}

.users-show-pitch-white-card-title {
  margin: 0 20px 0 32px;
  display: flex;
  h2 {
    font-family: $geo;
    font-size: 54px;
    color: $heavy-green;
  }
}

.users-show-pitch-info-filters {

}

.users-show-pitch-info-filters-title {
  padding: 8px;
  h3 {
    font-family: $geo;
    font-size: 36px;
    color: $dark-gray;
  }
}

//Filters

.datepicker {
  border-radius: 2px;
  border-style: none;
  width: 160px;
  height: 40px;
  background-color: white;

}

#date {
  color: $dark-gray;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 6px;
  padding-right:1px;
}

select {
  -webkit-appearance: searchfield;
  -webkit-border-radius: 0px;
    background-color: white;
}

.selecttag {
  border-radius: 2px;
  border-style: none;
  margin-left: 8px;
  width: 120px;
  height: 40px;
  font-weight: lighter;
  font-size: 16px;
}

#pitch {
  color: $dark-gray;
  padding-left: 4px;
}

.pitchsearch {

  border-radius: 2px;
  border-style: none;
  margin-left: 16px;
  margin-top: 16px;
  width: 120px;
  height: 32px;
  background-color: $dark-gray;
  color: white;
  font-family: $geo;
  font-size: 20px;
  &:hover {
  opacity: 0.8;
  }
}

.users-show-pitch-info-filters-backadv {
  margin: 48px 0 12px 0;
  display: flex;
}

.back4 {
  border-radius: 2px;
  border-style: none;
  margin-left: 8px;
  margin-top: 16px;
  width: 180px;
  height: 32px;
  background-color: $dark-gray;
  a {
  color: white;
  margin-left: 16px;
  font-family: $geo;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.adv4 {
  border-radius: 2px;
  border-style: none;
  margin-left: 24px;
  margin-top: 16px;
  width: 180px;
  height: 32px;
  background-color: $dark-gray;
  a {
  color: white;
  margin-left: 16px;
  font-family: $geo;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}


.users-show-pitch-photo {
  img {
  justify-content: center;
  border-radius: 2px;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: contain;
  }
}

.users-show-schedule-button {
  background-color: rgba(140, 197, 154,0.8);
  color: white;
  border-radius: 2px;
  width: 240px;
  height: 48px;
  margin: 8px auto 0 auto;
  padding-top: 12px;
  a {
    margin-left: 24px;
    font-size: 14px;
  }
  &:hover {
  background-color: rgb(140, 197, 154);
  }
}

.users-show-schedule-button-false {
    background-color: rgb(170,170,170);
  p {
  color: rgb(110,110,110);
  }
}


// -=-=-= End Users Show =-=-=- //

// --------------------------------//

// -=-=-=  =-=-=- //















