// All Users Model CSS Files //


// -=-=-= Users Sign Up =-=-=- //

.users-signup-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-signup-already-login-button {
  a {
  color: $heavy-green;
  }
}

  // This box is just for the background img filter!
.users-signup-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-signup-upper-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-signup-middle-wrapper {
}

.users-signup-form-left {
  padding: 32px;
  input {
  border-style: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-signup-form-right {
  padding: 32px;
  input {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-signup-photo-input {
  background-color: none;
  input {
    box-shadow: none;
    width: 400px;
    background-color: transparent;
  }
  #user_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.users-signup-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Sign Up =-=-=- //

// --------------------------------//

// -=-=-= Users Sign In =-=-=- //

.users-signin-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-signin-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-signin-title {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-signin-middle-wrapper {
  width: 100%;
}

.users-signin-form {
  input {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  }
  .form-check-label {
  margin-left: 8px;
  font-size: 16px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-signin-signforgot-buttons {
  a {
  color: white;
  font-weight: lighter;
  }
}

.users-signin-submit-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Sign In =-=-=- //

// --------------------------------//

// -=-=-= Users Edit =-=-=- //


.users-edit-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-edit-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-edit-title {
  display: flex;
  margin-bottom: 48px;
  justify-content: flex-start;
  height: 80px;
  min-width: 400px;
  position: relative;
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
  p, a {
    color: white;
    position: absolute;
    font-family: $geo;
    top: 48px;
    left: 2px;
  }
}

.users-edit-form-left {
  padding: 32px;
  input {
  border-style: none;
  background-color: rgba(250,250,250,0.4);
  caret-color: rgba(250,250,250,0.6);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-edit-form-right {
  padding: 32px;
  input {
  margin-top: 8px;
  border-style: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  caret-color: rgba(250,250,250,0.6);
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: $heavy-green;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
    }
  &:active {
  outline: none;
  }
  }
  label {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-edit-photo-input {
  background-color: none;
  input {
    width: 400px;
    background-color: transparent;
  }
  #user_photo {
  color: white;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  }
}

.users-edit-update-button {
  text-align: center;
  width: 100%;
  margin: 20px 10px 40px 10px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 32px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

.users-edit-cancel {
  a {
    color: white;
    font-size: 16px;
    padding-bottom: 16px;
  }
}

// -=-=-= End Users Edit =-=-=- //

// --------------------------------//

// -=-=-= Users Forgot Password =-=-=- //

.users-forgotpass-wrapper {
  background-image: asset-url('field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-forgotpass-box {
  background-color: rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-forgotpass-title {
  display: flex;
  margin-bottom: 72px;
  justify-content: space-between;
  height: 80px;
  span {
    margin-top: 56px;
    color: white;
  }
  h2 {
    font-family: $geo;
    color: white;
    font-size: 56px;
  }
}

.users-forgotpass-middle-wrapper {
  width: 100%;
}

.users-forgotpass-form {
  input {
  border-style: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  caret-color: rgba(250,250,250,0.6);
  background-color: rgba(250,250,250,0.4);
  &:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.7);
  border-color: $heavy-green;
    }
  &:active {
  outline: none;
  }
  }
  label {
  margin-top: 8px;
  color: white;
  font-size: 20px;
  }
  .form-check-label {
  margin-left: 8px;
  font-size: 16px;
  font-weight: lighter;
  }
  .form-control {
    color: $mint;
    font-size: 24px;
  }
}

.users-forgotpass-signforgot-buttons {
  a {
  color: white;
  font-weight: lighter;
  }
}


.users-forgotpass-submit-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  .btn {
  height: 64px;
  width: 240px;
  font-size: 30px;
  font-family: $geo;
  background-color: rgba(250,250,250,0.8);
  &:hover {
  background-color: rgba(250,250,250,1.0);
    }
  }
}

// -=-=-= End Users Forgot Password =-=-=- //

// --------------------------------//

// -=-=-= Users Show Owner =-=-=- //


.users-show-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-show-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-show-title {
  color: white;
  h2 {
  font-family: $geo;
  font-size: 48px;
  }
}

// .users-show-info-white-card {
//   background-color: rgba(250,250,250,0.9);
//   border-radius: 2px;
//   padding: 10px;
// }

// .users-show-info-white-card-title {
//   margin: 0 40px 0 40px;
//   display: flex;
//   justify-content:;
//   h2 {
//     font-family: $geo;
//     font-size: 54px;
//     color: $heavy-green;
//   }
// }

// .users-show-info-wrapper {
//   display: flex;
//   i {
//     font-size: 16px;
//     color: $heavy-green;
//   }
//   p{
//     font-size: 14px;
//   }
// }

// .users-show-info-photo {
//   margin-bottom: 8px;
//   img {
//   height: 80px;
//   width: 80px;
//   border-radius: 2px;
//   }
// }

// .users-show-info-bookings {
//   background-color: gray;
//   height: 200px;

// }

.users-show-pitch-white-card {
  background-color: rgba(250,250,250,0.9);
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 2px;
  padding: 10px;
}

.users-show-pitch-white-card-title {
  margin: 0 20px 0 32px;
  display: flex;
  h2 {
    font-family: $geo;
    font-size: 54px;
    color: $heavy-green;
  }
}

.users-show-pitch-info-filters {

}

.users-show-pitch-info-filters-title {
  padding: 8px;
  h3 {
    font-family: $geo;
    font-size: 36px;
    color: $dark-gray;
  }
}

//Filters

.datepicker {
  border-radius: 2px;
  border-style: none;
  width: 160px;
  height: 40px;
  background-color: white;

}

#date {
  color: $dark-gray;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 6px;
  padding-right:1px;
}

select {
  -webkit-appearance: searchfield;
  -webkit-border-radius: 0px;
    background-color: white;
}

.selecttag {
  border-radius: 2px;
  border-style: none;
  margin-left: 8px;
  width: 120px;
  height: 40px;
  font-weight: lighter;
  font-size: 16px;
}

#pitch {
  color: $dark-gray;
  padding-left: 4px;
}

.pitchsearch {

  border-radius: 2px;
  border-style: none;
  margin-left: 16px;
  margin-top: 16px;
  width: 120px;
  height: 32px;
  background-color: $dark-gray;
  color: white;
  font-family: $geo;
  font-size: 20px;
  &:hover {
  opacity: 0.8;
  }
}

.users-show-pitch-info-filters-backadv {
  margin: 48px 0 12px 0;
  display: flex;
}

.back4 {
  border-radius: 2px;
  border-style: none;
  margin-left: 8px;
  margin-top: 16px;
  width: 180px;
  height: 32px;
  background-color: $dark-gray;
  a {
  color: white;
  margin-left: 16px;
  font-family: $geo;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.adv4 {
  border-radius: 2px;
  border-style: none;
  margin-left: 24px;
  margin-top: 16px;
  width: 180px;
  height: 32px;
  background-color: $dark-gray;
  a {
  color: white;
  margin-left: 16px;
  font-family: $geo;
  font-size: 20px;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}


.users-show-pitch-photo {
  img {
  justify-content: center;
  border-radius: 2px;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: contain;
  }
}

.users-show-schedule-button {
  background-color: rgba(140, 197, 154,0.8);
  color: white;
  border-radius: 2px;
  width: 240px;
  height: 48px;
  margin: 8px auto 0 auto;
  padding-top: 12px;
  a {
    margin-left: 24px;
    font-size: 14px;
  }
  &:hover {
  background-color: rgb(140, 197, 154);
  }
}

.users-show-schedule-button-false {
    background-color: rgb(170,170,170);
  p {
  color: rgb(110,110,110);
  }
}


// -=-=-= End Users Show Owner =-=-=- //

// --------------------------------//

// -=-=-= End Users Show Player =-=-=- //

.users-show-player-wrapper {
  background-image: asset-url('grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
}

.users-show-player-box {
  background-color:  rgba(65,193,53,0.3);
  min-height: 100vh;
}

.users-show-player-title {
  display: flex;
  justify-content: flex-end;
  h2 {
    font-family: $geo;
    font-size: 48px;
    color: white;
  }
}

.users-show-player-white-card {
  background-color: rgba(250,250,250,0.9);
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 2px;
  padding: 16px;
  // display: grid;
  // grid-template-columns: 25% 25% 25% 25%;
  // grid-template-rows: 50% 50%;
}

.users-show-player-info {
  // background-color: black;
}

.users-show-player-photo {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  img {
  max-width: 100%;
  border-radius: 2px;
  }
}

.users-show-player-info-description {
  margin-top: 24px;
  position: relative;
  p {
    font-size: 16px;
    padding: 4px 0 0 4px;
  }
  a {
  position: absolute;
  right: 8px;
  bottom: 8px;
  }
  h2 {
    margin-bottom: 0;
    font-size: 24px;
    // background-color: rgb(200,210,220);
    border-bottom: solid 2px;
    border-color: $dark-gray;
    max-width: 100%;
    padding: 8px;
    border-radius: 2px 2px 0 0;
    text-align: right;
  }
  h4 {
    margin-top: 0;
    height: 32px;
    border-top: solid 2px;
    border-color: $dark-gray;
    // background-color: rgb(200,210,220);
    max-width: 100%;
    padding: 8px;
    border-radius: 0 0 2px 2px;
  }
  i {
    color: gray;
  }
}

.users-show-player-invited-games-wrapper {
  // background-color: black;
}

.users-show-player-invited-games-title {
  margin-right: 24px;
  h2 {
    font-family: $geo;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    color: $heavy-green;
  }
}

.users-show-player-invited-games-each {
  border-radius: 2px;
  background-color: rgb(200,210,220);
  padding-left: 8px;
  font-weight: lighter;
  margin: 8px;
  p {

  }
}


.users-show-player-organizer-games-wrapper {
  // background-color: black;
}

.users-show-player-organizer-games-title {
  margin-right: 24px;
  h2 {
    font-family: $geo;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    color: $heavy-green;
  }
}

.users-show-player-organizer-games-each {
  border-radius: 2px;
  background-color: rgb(200,210,220);
  padding-left: 8px;
  font-weight: lighter;
  max-height: 180px;
  display: flex;
  justify-content: space-between;
  margin: 12px;
  position: relative;
    time {
    margin: 16px;
  }
  p {
    margin: 0 0 4px 0;
    color: $dark-gray;
    font-size: 16px;
    font-weight: lighter;
  }
  i {
    color: gray;
  }
  a {
    font-size: 12px;
    position: absolute;
    bottom: 4px;
    left: 80px;
  }
  h5 {
    margin: 4px 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    color: $dark-gray;
  }
}

// Mini Calendar

time.icon
{
  font-size: 0.8em;
  display: block;
  width: 4em;
  height: 4em;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 0.6em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: $inter-green;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: $heavy-green;
}

time.icon span
{
  width: 100%;
  font-size: 1.8em;
  letter-spacing: -0.05em;
  padding-top: 0.4em;
  color: #2f2f2f;
}

// End Mini Calendar


.users-show-player-friends {
  height: 70vh;
  overflow: scroll;
  margin-top: 24px;
  h2 {
    margin: 0 16px;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 16px;
    background-color: rgb(210,220,230);
    max-width: 100%;
    padding: 8px;
    border-radius: 2px 2px 0 0;
    text-align: right;
  }
  h4 {
    margin: 0 16px;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 16px;
    background-color: rgb(210,220,230);
    max-width: 100%;
    padding: 8px;
    border-radius: 0 0 2px 2px;
  }
}

.users-show-player-friends-list {
  background-color: rgb(243,243,243);
  border-style: solid;
  border-width:1px 0 0 0;
  border-color: transparent;
  color: $dark-gray;
  font-family: ubuntu;
  font-size: 16px;
  max-width: 100%;
  margin: 0 16px;
  padding: 8px;
  display:flex;
  justify-content: space-between;
  i {
    font-size: 16px;
  }
  &:hover {
    background-color: rgb(210,220,230);
  }
}













