<h1>PITCH - INDEX</h1>
<% @pitches.each do |pitch| %>
<h3>Título: <%= pitch.title %></h3>
<% end %>

  <!-- Map Div -->
  <div class="map-wrapper">
    <div
      id="map"
      style="width: 100%;
      height: 530px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
  <!--END MAP-->


