<h1>SHOW PITCH <%= @pitch.title %></h1>
<% if policy(@pitch).destroy? %>
  <%=  link_to 'delete pitch', pitch_path(@pitch),
      method: :delete,
      data: { confirm: "Are you sure?"} %>
<% end %>
