
      <div id="Keep_Owner_Updated" style="visibility: hidden"> </div>
      <div id="current_pitch_id" style="visibility: hidden"><%= @pitch.id %> </div>
      <div id="current_first_date" style="visibility: hidden"><%= @date_select %> </div>
      <div id="checksum" style="visibility: hidden"><%= @checksum %></div>
