
  <h2>User Profile</h2>


    <p><%= @user.email%></p>
    <p><%= @user.first_name %>
    <p><%= @user.last_name  %></p>
    <p>@user.phone %></p>
    <p><%= link_to 'edit', edit_user_registration_path(@user) %>
    </p>
