<div class="home-index-wrapper">
  <!-- Upper Index -->
  <div class="home-index-upper-wrapper">
    <div class="home-index-upper-box">
      <div class="row">
        <div class="col col-md-12">

            <header>
              <div class="overlay"></div>
              <%= video_tag 'football.mp4', class: 'header', autoplay: "", controls: false, loop: true, preload: true, muted: "true", type: "video/mp4"%>
              <div class="home-index-header">
                <div class="container h-100">
                  <div class="d-flex h-100 text-center align-items-center">
                    <div class="w-100">

                    <div class="sp-container">

                        <div class="sp-content">
                          <div class="sp-globe"></div>
                          <h2 class="frame-1">Encontre quadras</h2>
                          <h2 class="frame-2">Marque suas partidas</h2>
                          <h2 class="frame-3">Convide seus amigos</h2>
                          <h2 class="frame-4">Allejo</h2>
                          <h2 class="frame-5">
                            <span>Seu único trabalho </span>
                            <span>é jogar futebol!</span>
                          </h2>

                          <div class="home-index-buttons">
                            <div class="home-index-in">
                             <%= link_to 'Entrar', pitches_path %>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </header>


        </div>
      </div>
    </div>
  </div>
</div>
