<div class="home-index-wrapper">
  <!-- Upper Index -->
  <div class="home-index-upper-wrapper">
    <div class="row">
      <div class="col col-md-12">
        <!-- Title -->
        <div class="home-index-title">
          <h2>Seu trabalho é jogar futebol, o resto é com a gente.</h2>
        </div>
        <!-- End Title -->

        <!-- Search Input -->
        <div class="home-index-search">
          <input type="text" value=" Buscar quadras em São Paulo" style="width: 480px">
          <input type="text" value="26/02/2018" style="width: 96px">
          <input type="text" value="20:00 - 23:00" style="width: 120px">
          <input type="text" value=" Society" style="width: 80px">
          <button>Buscar</button>
        </div>
        <!-- End Search Input -->
      </div>
    </div>
  </div>
  <!-- End Upper Index -->

  <!-- Lower Wrapper -->
  <div class="home-index-lower-wrapper">
    <div class="row">
      <div class="col col-md-12">

    <!-- Map -->
          <div class="home-index-map">
            <p>O Mapa vai aqui</p>
          </div>
    <!-- End Map -->
      </div>
    </div>
  </div>
  <!-- End Lower Wrapper -->

  <!-- Footer -->
  <footer>
    <p>Copyright</p>
    <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </footer>
</div>
